* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#container-header {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  
}

#colors {
    width: 600px;
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    color: #111827;
    border: 1px solid #111827;
}

#button {
    padding: 8px;
}

#color-generator {
    border: none;
}

#wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.box {
    height: 90vh;
    width: 20%;
}

.align {
    text-align: end;
    height: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    padding-bottom: 25px ;
}